@model MVCWeek01.Models.MessageModel

<div style="font-size: 36pt">
    <span>
        @Model.MessageId
        <br />
        @Model.Message
    </span>


    <a href="/home/Index">Go to Home</a>

</div>


@*To do an MVC project you will need followings

//front end tech  /Student him/herself
HTML
CSS
JavaScript
Boostrap
JQuery



//Back End
//by teacher
//C# in course
//MVC patters
//LINQ
//EF
//DI
//MultiLayer
//
:
:
//SQL or Databases*@



