@model MVCWeek01.Models.MessageModel


<div style="color: red;font-size:36pt">
    
    @Model.MessageId

</div>
<div style="color: red;font-size:36pt">
    @Model.Message
</div>

<div style="font-size:36pt">
<a href="/home/About">Go to About</a>
</div>